# Qt Creator 관련
*.autosave
*.pro.user
*.pro.user.*
*.qmake.stash

# CMake / Ninja 빌드 관련
build*/
*.ninja*
CMakeFiles/
CMakeCache.txt*
cmake_install.cmake
*.exe
*.obj
*.o
*.dll
*.log
*.tmp

# Qt 자동 생성 디렉토리
*_autogen/

# IDE
.idea/
.vscode/
.qtc/

# 기타 임시 폴더
Testing/
